.page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}
.page_content {
    margin: 0;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 1100px;
}